# Virtual environment
.venv/
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE
.vscode/

# OS
Thumbs.db
.DS_Store

# Large binary files
*.pkl
embeddings/ppmi_matrix.npy
embeddings/tfidf_matrix.npy

# Temp files
*.tmp
